certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
Cython==3.0.2
frozendict==2.3.8
idna==3.4
numpy==1.26.0
pandas==2.1.1
Pillow==10.0.1
plateauutils @ file:///Users/niryuu/git/plateauutils
psycopg2-binary==2.9.8
py3dtiles==1.0.2
pyproj==3.6.1
python-dateutil==2.8.2
pytz==2023.3.post1
reearthcmsapi==0.0.3
requests==2.31.0
shapely==2.0.1
six==1.16.0
tqdm==4.66.1
triangle==20230923
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.5
